body{
    margin: 0px;
    background: #d1d1d1;
    font-family: helvetica;
}
header{
    background-image: url('bg-pc.jpg');
    background-position: center;
    background-size: cover;
    height: 480px;
    position: relative;
}
header:after{
    content: " ";
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
header a{
    background-color: #3b5998;
    border-bottom: 2px solid #29487d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 110px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -18px;
    margin-left: -55px;
    transition: .3s all;
    z-index: 1;
}
header a:hover{
    transform: scale(1.2);
    opacity: .9;
}