body{
    margin: 0;
    background: #d1d1d1;
    font-family: helvetica;
}
.menu-main{
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: space-around;
}
.menu-main a{
    flex: 1; /* flex grow*/
    color: white;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px;
    transform: skew(-45deg);
}
.menu-main a span{
    transform: skew(45deg);
}
.menu-main a:hover{
    background: #29487b;
}
.menu-main a.active{
    background: #29487b;
}